<template>
<div style="background-color: #faddc3;">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="header">
        <div class="container">
            <div class="logo">
              <h2>FRIENDLY</h2>
           
            </div>
            <nav>
                <ul>
                  <router-link to="/" tag="button">Home</router-link>
                    <router-link to="/About" tag="button">Create New Blog</router-link>
                    <router-link to="/Contact" tag="button">Contact</router-link>
                    
                </ul>
            </nav>
        </div>

    </div>
    <div class="container" >

        <div class="wrapper" >
            <div class="company-info" >
                <h1>Contact Us</h1>
                

            </div>
            <div class="contact" style="border: 3px solid #B9D345;">
                <h3 style="font-size: 20px; font-weight: bold;">Leave a message </h3>
                <form id="contactForm">
                    <p>
                        <label>Name</label>
                        <input type="text" name="name" id="name" required>
                    </p>
                    <p>
                        <label>Company</label>
                        <input type="text" name="company" id="company">
                    </p>
                    <p>
                        <label>Email Address</label>
                        <input type="email" name="email" id="email" required>
                    </p>
                    <p>
                        <label>Phone Number</label>
                        <input type="text" name="phone" id="phone">
                    </p>
                    <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="3" id="message"></textarea>
                    </p>
                    <p class="full">
                        <button type="submit" style="font-weight: bold;">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="footer" >
      <div class="container" >      
        <nav class="nav" >
          
            <ul>
              <small class="foot">&copy; FRIENDLY</small>
                <router-link to="/" tag="button">Home</router-link>
                <router-link to="/About" tag="button">Create New Blog</router-link>
                <router-link to="/Contact" tag="button">Contact</router-link>
                    
            </ul>
        </nav>

    </div>
    </div>
    </div>
    
</template>

<style scoped>

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
img,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
mall,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.header {
    text-align: center;
    background: black;
    color: #B9D345;
}

* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
}

.logo h2 {
    float: left;
    padding-left: 15px;
    color: #B9D345;
    font-family: jokerman;
    font-size: 44px;
}

ul button{
    display: inline-block;
    text-align: right;
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 20px;
    font-family: raleway;
    color: black;
    border: none;
  background: #B9D345;
}


ul:hover{
    color: rgb(255, 255, 255);
}

.navbar {
    overflow: hidden;
    background-color: rgb(41, 36, 36);
}

.foot{
  align-items: left;
  padding-right: 500px;
  color: #B9D345;

}

.footer {
    
    text-align: center;
    background: black;
    color: #B9D345;
    padding-right: 210px;
}

.footer button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;

    text-align: center;
}

.footer ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* Style the navigation bar link*/

.navbar button {
    padding: 14px 15px;
    float: right;
    display: block;
    background-color: #fff7f0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1px;
}


/* Change color on hover */

.navbar button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}



.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
}

.brand span {
    color: #fff;
}

.wrapper {
    padding-right: 120px;
    padding-left: 120px;
    
}

.wrapper h2 a {
    color: white;
}

.wrapper h2 :hover {
    color: rgb(0, 0, 0);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: black;
    color: #B9D345;
    text-align: center;
}

.company-info h1,
.company-info h2 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

    font-size: 30px;
    font-weight: bold;
}

.contact {
    background-color: #fff7f0;
}


/* FORM STYLES */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.contact form label {
    display: block;
    font-weight: bold;
}

.contact form p {

    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;

    border: 1px solid #eeb750;
}

.contact form button {
    background: #baf171;
    margin-top: 1em;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
    background: #eeb750;
    color: black;
    outline: 0;
}




/* Container Border */
.title button{
   background-color: white;
  color: black;
  border: 2px solid #B9D345; /* Green */
  float: right;
  margin: 2px;
  

}


.title button{
  font-size: 18px;

}

</style>