<template>
<div style="background-color: #faddc3;">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <div class="header">
        <div class="container">
            <div class="logo">
              <h2>FRIENDLY</h2>
           
            </div>
            <nav>
                <ul>
                  <router-link to="/" tag="button" style=" font-size: 20px;">Home</router-link>
                    <router-link to="/About" tag="button" style=" font-size: 20px;">Create New Blog</router-link>
                    <router-link to="/Contact" tag="button" style=" font-size: 20px;">Contact</router-link>
                    
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="container" style="font-size: 18px; justify-content: center;">
        

        <div class="columns" style="padding-right: 20px; padding-left: 20px; font-family: Arial, Helvetica, sans-serif;
        color: black; border-style: groove; padding-top: 10px; background-color: #fff7f0;">
        
            <p style="font-weight: bold; text-align: center; font-size: 28px;">
                {{ list.title }}<br></p>
            <div style="text-align: center; font-size: 21px;">By: <img :src = "list.author.picture" alt=""  style="width: 35px; border-radius: 50%; "> {{ list.author.name }} </div>
             <img :src = "list.image" alt="" style="align-content: center; padding-left: 140px; padding-top: 30px; padding-bottom: 20px; justify-content: center;"> <br>
            
            {{ list.content }} <br> <br>
            Tags: <button v-for="item in list.tags" :key ="item" style="background-color: #fff7f0; padding-right: 10px; border-style: none;">
                {{ item }} 
                </button> <br>
            <p style="text-align: right; padding-right:10px; font-size: 16px;">Created at: {{ list.created_at }}, {{ list.created_at_friendly }} <br> </p>
            <p style="text-align: right; padding-right:10px; font-size: 16px;">Updated at: {{ list.updated_at }}, {{ list.updated_at_friendly }} </p>
        </div>
    </div>

    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios,axios)
export default {
    name: "Bloglist",
    data(){
        return{
        id: this.$route.params.id, 
        list:undefined,
        posts:{
                title: "",
                content: "",
                author: "",
                image: "",
                tags: [""]
            }}
    },
    created(){
        this.axios.get('https://intern.blog.intellectstorm.com/posts/'+this.id).then((resp)=>{
            console.warn(resp.data)
            this.list=resp.data
            //this.list.tags = JSON.stringify(this.list.tags)
            console.log(JSON.stringify(this.list.tags))
        });
    }

}
</script>





<style scoped>
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
img,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
mall,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.header {
    text-align: center;
    background: black;
    color: #B9D345;
}

* {
    box-sizing: border-box;
}

.foot{
  align-items: left;
  padding-right: 500px;
  color: #B9D345;

}

.footer {
    
    text-align: center;
    background: black;
    color: #B9D345
}

.footer button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-right: 30px;
}

.footer ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.logo img {
    float: left;
    padding-left: 20px;
}

ul button{
    display: inline-block;
    text-align: right;
    
    margin: 10px;
    font-size: 17px;
    font-family: raleway;
    color: black;
    border: none;
  background: #B9D345;
}


ul:hover{
    color: rgb(255, 255, 255);
}

.logo h2 {
    float: left;
    padding-left: 15px;
    color: #B9D345;
    font-family: jokerman;
    font-size: 44px;
}

.container {
    clear: both;
    overflow: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;  
    
}

.columns{
    margin-top: 40px;
    margin-bottom: 40px;
    border: #B9D345 ;
}

nav {
    float: right;
    padding-top: 9.5px;
}


/* Style the navigation bar link*/

.navbar ul button {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    font-family: raleway;
    color: black;
    border: none;
  background: #B9D345;
}
/* Container Border */


.title button{
   background-color: white;
  color: black;
  border: 2px solid #B9D345; /* Green */
  float: right;
  margin: 2px;
  

}


.title button{
  font-size: 18px;

}





</style>