<template>
  <div style="background-color: #faddc3;">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <div class="header">
        <div class="container">
            <div class="logo">
                <h2>FRIENDLY</h2>
              
            </div>
            <nav>
                <ul>
                  <router-link to="/" tag="button">Home</router-link>
                    <router-link to="/About" tag="button">Create New Blog</router-link>
                    <router-link to="/Contact" tag="button">Contact</router-link>

                </ul>
            </nav>
        </div>

    </div>


    

    
    <div class="container2" id="app" >

        <div class="columns"  v-for="item in list" v-bind:key="item.id" >
            <p style="font-size: 24px; font-weight: bold;"> <strong>{{ item.title }}</strong> </p>
            <div class="card" >
                
                    <div class="title" style="display: inline-block;"> 
              
                    <button v-on:click="deleteUser(item.id)" style="margin-right: 30px;">Delete</button>
                    
                    <router-link :to="'/single/'+item.id" tag="button" >Edit</router-link>
                    
                    </div>
                    
                    <div class="card-divider">By: <img :src = "item.author.picture" alt=""  style="width: 35px; border-radius: 50%; "> {{ item.author.name }} </div>
             
                    
                    <div class="card-divider" >
                    <p>{{ item.content.slice(0,409) }} 
                        <router-link :to="'/display/'+item.id" tag="button"> <p style="color: #111ecf; font-size: 17px; font-weight: bold;">read more...</p> </router-link>
                    </p>
                    
                    </div> 
                    

                    <div class="card-divider">
                    Tags:<button v-for="item in item.tags" :key ="item">
                {{ item }} 
                </button>
                    </div>

                    
            </div>
        </div>
    </div>

        <div class="pageButton">
        

            <router-link to="/" tag="button"> 1</router-link>
            <router-link to="/Pagetwo" tag="button">2</router-link>
            <p>   Pages</p>
                    
        
    </div>

    <div class="footer">
      <div class="container">      
        <nav class="nav">
          
            <ul>
              <small class="foot">&copy; FRIENDLY</small>
                <router-link to="/" tag="button">Home</router-link>
                <router-link to="/About" tag="button">Create New Blog</router-link>
                <router-link to="/Contact" tag="button">Contact</router-link>
                    
            </ul>
        </nav>

    </div>
    </div>
    
  </div>
</template>


<script>
import Vue from "vue"
import VueSimpleAlert from "vue-simple-alert";

Vue.use(VueSimpleAlert);




import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios,axios)

export default {
    name: "Bloglist",
    data(){
        return{list:undefined}
    },
    methods:{
      getData(){
            this.axios.get('https://intern.blog.intellectstorm.com/posts').then((resp)=>{
                console.warn(resp.data.data)
                this.list=resp.data.data
            })
        },
        deleteUser(id){
            this.$confirm("Are you sure?").then(() => {
            this.axios.delete("https://intern.blog.intellectstorm.com/posts/"+id).then(()=>{
                this.$alert("The post has been deleted successfully!");
                
                this.getData();
            })});
        },
    },
    mounted(){
        this.getData()
    }
}
</script>


<style scoped>
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
img,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
mall,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.header {
    
    text-align: center;
    background: #000000;
    color: rgb(0, 0, 0);
}

.foot{
  align-items: left;
  padding-right: 500px;
  color: #B9D345;

}

.footer {
    
    text-align: center;
    background: black;
    color: #B9D345;
    padding-right: 200px;
}

.footer button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;

}

.footer ul{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.pageButton{
    padding-left: 650px;
}

.pageButton p{
    padding-left: 6px;
    font-size: 18px;
}
.pageButton button{
    background-color: #faddc3;
  border: none;
  color: black;

    padding-left: 10px;

  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.pageButton :hover{
    text-decoration: underline;
}

* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
    
    
}

nav {
    float: right;
    padding-top: 9.5px;
}
nav ul button{
  display: inline-block;
    margin: 10px;
    font-size: 20px;
    font-family: raleway;
    color: black;
    border: none;
  background: #B9D345;
}


.logo h2 {
    float: left;
    padding-left: 15px;
    color: #B9D345;
    font-family: jokerman;
    font-size: 44px;
}


ul li:hover{
    color: rgb(255, 255, 255);
}

.title button{
   background-color: white;
  color: black;
  border: 2px solid #B9D345; /* Green */
  float: right;
  margin: 2px;

}

.title button{
  font-size: 18px;

}

.navbar {
    overflow: hidden;
    background-color: rgb(41, 36, 36);
}


/* Style the navigation bar link*/

.navbar a button {
    padding: 14px 15px;
    float: right;
    display: block;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}


/* Change color on hover */

.navbar a button:hover {
    background-color: #f8f0e8;
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #5c432b;
    color: #0d0e0f;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 1em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;


}

.container2 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #faddc3;
    }


/* Container Border */

.columns {
    
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 20px;
    
}

.card {
    padding: 15px;
    border: 3.5px solid #B9D345;
    border-radius: 10px;
    background-color: #fff7f0;
}

.title button{
    font-size: 18px;
    margin-top: 10px;
    

    
    
}

.card-divider button{
    background-color: #fff7f0;
  border: none;
  color: black;
    padding-bottom: 10px;


  text-decoration: none;
}

.card-divider button p:hover{
    text-decoration: underline;

}




</style>


